//Fonts
@font-face {
  font-family: "gilroy";
  src: url("fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("../fonts/Gilroy-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "gilroy";
  src: url("fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype"),
    url("../fonts/Gilroy-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy light";
  src: url("fonts/Gilroy-Light.otf");
  font-weight: 400;
  font-style: normal;
}

:root {
}

//Main
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

/*HEADER*/
/*Header_top*/
.header {
  background: url("img/header/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 105.34%;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(180deg, #00ab8f 0%, #005746 100%);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 5%);
  border-radius: 5px;
  width: 143px;
  height: 117px;
  text-align: center;
  display: flex;
  align-items: center;
}

.menu__a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 105.34%;
  color: var(--main-green-color);
  margin-right: 28px;
}

.contacts__a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 99.19%;
  text-transform: uppercase;
  color: #000000;
  margin-left: 40px;
}

@media (max-width: 820px) {
  .contacts__a,
  .menu__a {
    font-size: 14px;
    line-height: 14px;
  }
}
@media (max-width: 768px) {
  .contacts__a,
  .menu__a {
    padding: 5px 0 5px 0;
  }
}

@media (max-width: 550px) {
  .contacts__a,
  .menu__a {
    font-size: 12px;
    line-height: 14px;
  }
}

.contacts__img {
  margin-right: 15px;
}

@media (max-width: 1086px) {
  .menu,
  .contacts {
    display: inline-grid;
  }
}

.title1 {
  padding-top: 45px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-size: 74px;
  line-height: 112.19%;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(360deg, #ff7d5b 10.21%, #ff9173 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.title1__span {
  font-size: 52px;
  line-height: 137.19%;
  background: linear-gradient(180deg, #00ab8f 115.28%, #005746 148.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 1210px) {
  .title1 {
    font-size: 64px;
    line-height: 110.19%;
  }
}
@media (max-width: 1070px) {
  .title1 {
    font-size: 50px;
    line-height: 115.19%;
  }
}
@media (max-width: 850px) {
  .title1 {
    font-size: 44px;
    line-height: 111.19%;
  }
}
@media (max-width: 550px) {
  .title1 {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .title1 {
    font-size: 32px;
  }
}
@media (max-width: 370px) {
  .title1 {
    font-size: 30px;
  }
}
@media (max-width: 370px) {
  .title1 {
    font-size: 28px;
  }
}

.header_bottom {
}
.header_bottom_img {
  max-width: 617.12px;
  margin: 0 auto;
}
.header_bottom_img__img {
  margin-bottom: -4px;
}
.callback {
  margin: 0 auto;
  text-align: center;
  max-width: 1029px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: linear-gradient(180deg, #00ab8f 0%, #005746 100%);
}
.callback__title {
  padding-top: 35px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 41px;
  line-height: 49px;

  letter-spacing: -0.01em;
  color: #ffffff;
}
.callback__subtitle {
  padding: 21px 0 19px 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 31px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.form {
  padding-bottom: 43px;
  padding-top: 30px; 
  position: relative;
}
.form_img {
  position: absolute;
  top: 35px;
  left: 140px;
}
.form__input {
  border: none;
  background: #f4f4f4;
  border-radius: 20px;
  width: 397px;
  height: 94px;
  font-size: 22px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  line-height: 119.8%;
  text-align: center;
  letter-spacing: 0.125em;
  color: rgba(117, 117, 117, 0.7);
}
.button {
  border: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(
    360deg,
    #ff7a57 10.21%,
    #ff7d5b 55.57%,
    #ff7b58 100%
  );
  border-radius: 20px;
  width: 336px;
  height: 94px;
  box-shadow: 0px 4px 1px rgba(194, 47, 47, 1);
}

.h2 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  line-height: 99.19%;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #3d3d3d;
}

.title h2 span {
  color: #ff7b58;
}
@media (max-width: 900px) {
  .title h2 {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .title h2 {
    font-size: 40px;
    margin: 0 0 50px 0;
  }
}
@media (max-width: 400px) {
  .title h2 {
    font-size: 33px;
  }
}
@media (max-width: 350px) {
  .title h2 {
    font-size: 29px;
  }
}
@media (max-width: 550px) {
  .title h2 {
    margin: 0px 0 20px 0;
  }
}
@media (max-width: 600px) {
  .title h2 {
    font-size: 28px;
    line-height: 100%;
  }
}
@media (max-width: 370px) {
  .title h2 {
    font-size: 25px;
  }
}

/*TRIAL LESSON*/
.section {
  padding: 100px 0;
}
.trial-lesson {
  position: relative;
}
.trial-lesson__img {
  position: absolute;
}
.title2 {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 120%;
  color: #3d3d3d;
  padding-bottom: 53px;
}
.title2__span {
  background: linear-gradient(
    360deg,
    #ff7a57 10.21%,
    #ff7d5b 55.57%,
    #ff7b58 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.title3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  padding-bottom: 80px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: center; 
}
.grid__box {
  position: relative;
  width: 33%;
  text-align: center;
  margin-bottom: 80px;
}
.grid__box--down{
    padding-top: 90px; 
}

.line{
    position: relative; 
    width: 203.72px;
    height: 12px;
}
.line__line{
    width: 203.72px;
height: 4.79px;
background: #000000; 
position: absolute; 
top: 4px;
       
}
.line::before, .line::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    
    right: 26px;
    background-color:#000000;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    top: 0; 
}
.line::before{
    left: 0;
}
.line::after{
    right: 0; 
}

@media (max-width: 1020px) {
  .grid__box {
    width: 50%;
  }
}
.grid__img {
    height: 200px; 
}

.grid__img--circle{
    border: 0.5px dashed rgba(0, 171, 143, 1);
    border-radius: 70%;
    height: 219px;
    width: 219px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.grid__txt {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 110%;
    /* or 24px */
    
    text-align: center;
    letter-spacing: 0.02em;
    
    color: #000000;
}
.grid__track {
  position: absolute;
  bottom: 0;
  right: -45px;
}



.callback--fullscreen{
    max-width: 100%; 
    text-align: left; 
    position: relative; 
}
.callback__img{
    position: absolute; 
    right: 0; 
    top: -60px; 
}









.title3--bold{
    font-weight: 700;
}

.solve-problems{
position: relative; 
}

.solve-problems__img{
    position: absolute; 
    top: 0;  
    left: 0; 
}

.solve-problems__img--down{
    top: 140px; 
    right: 200px; 
}

.grid__box--50{
    width: 50%; 
    text-align: left; 
    display: flex;
    justify-content: center;
}

.grid__txt--white{
    width: 522px;
height: 159px;
    background-color: white; 
    width: fit-content;
    padding: 27px 15px; 
    border-radius: 10px;
    position: relative; 
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 120%;
color: #000000;
}
.grid__txt--white::before{
    content: "";
    width: 27px;
    height: 27px;
    border-radius: 70px;
    position: absolute;
    background-color: green;
    top: 0;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    

}


.singaporean-technique{
    position: relative; 
    padding-top: 50px; 
}
.singaporean-technique__img{
position: absolute; 
z-index: -1; 
width: 100%; 
bottom: -230px;
}

.bg{
    width: 100%; 
}






.summer-intensive{
}
.text-left{
    text-align: left; 
}

.grid__box--training-program{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.grid__img--training-program{
    width: 55px; 
}







.student-results{
    text-align: center; 
}
.results{
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}
.results__box {
    width: 464px; 
    padding: 24px; 
}




.education-content {
}
.education-content-box {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    /* or 114% */
    
    
    color: #FFFFFF;
    padding: 15px; 
    width: 440px; 
background: linear-gradient(180deg, #00AB8F 0%, #005746 100%);
box-shadow: 0px 187px 75px rgba(66, 41, 25, 0.01), 0px 105px 63px rgba(66, 41, 25, 0.05), 0px 47px 47px rgba(66, 41, 25, 0.09), 0px 12px 26px rgba(66, 41, 25, 0.1), 0px 0px 0px rgba(66, 41, 25, 0.1);
border-radius: 15px;
margin-bottom: 15px; 
}



.title2__span2{
    background: linear-gradient(180deg, #00AB8F 0%, #005746 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}








.how-it-works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #F4F4F4;
    border-radius: 10px;
    padding: 30px 25px;
    margin: 20px 0;
}


.item-how-it-works__item {
    padding: 0 20px 0 0;
}

.item-how-it-works__number._actives {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

.item-how-it-works__title {
    font-family: 'Gilroy';
    opacity: 0;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}

.item-how-it-works__number {
    font-weight: 700;
    font-size: 80px;
    line-height: 120%;
    background: -webkit-gradient(linear, left top, left bottom, from(#2FAFB4), to(#2D7E81));
    background: linear-gradient(180deg, #2FAFB4 0%, #2D7E81 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 120%;
}

.item-how-it-works__title._actives {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

.item-how-it-works__title {
    opacity: 0;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
}
.item-how-it-works__title {
    letter-spacing: -0.01em;
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #000000;
    max-width: 600px;
}

/*our-teachers*/

.description-teachers {
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    padding: 65px 0 100px 0; 
}
.description-teachers__box {
    width: 33%; 
    position: relative; 
}
.description-teachers__box::before{
    content: ""; 
    position: absolute; 
    height: 15px;
    width: 15px;
    background: linear-gradient(180deg, #00AB8F 0%, #005746 100%);
border: 1px solid #FFFFFF;
border-radius: 50%; 
left: 0; 

}



.teachers-cards {
    display: flex;
    justify-content: space-between;
}
.teachers-box {
    text-align: left;
    width: 234px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 10px 10px;
}
.teachers-box__img {
}

.teachers-box__content{
    padding: 40px 20px;
}
.teachers-box__name {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 27px;
/* or 193% */
color: #000000;
}
.teachers-box__subname {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 27px;
color: #2D586F;
}
.teachers-box__subscription {
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* or 136% */


color: #2B2B2B;
}











.reviews {
}
.title2 {
}
.title2__span2 {
}
.cards-reviews {
}
.card {
}
.card__left-content {
}
.card__right-content {
}
.card__first-line {
}
.card__box {
}
.date {
}
.card__title {
}
.card__description {
}
.buttons {
}
.button {
}
.carousel {
}
.right {
}
.left {
}



.callback--two{
    border-radius: 150px 15px 15px 15px;
    width: 612px;
height: 569px;
}
